@model webAppCognizantTest.Models.User
@using (Html.BeginForm())
{
    <div class="container" style="margin:20px">
        <form>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Digite o nome...">
                 @Html.ValidationMessageFor(model => model.name, "", new { @class="error"})
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Digite o email...">
                 @Html.ValidationMessageFor(model => model.email, "", new { @class="error"})
            </div>
            <div class="form-group">
                <label for="phone">Celular</label>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Digite o número...">
                @Html.ValidationMessageFor(model => model.phone, "", new { @class="error"})
            </div>
            <div class="form-group">
                <label for="address">Endereço</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="Digite o endereço...">
            </div>
            <div class="form-group">
                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" name="neighborhood" id="neighborhood" placeholder="Digite o bairro...">
            </div>
            <div class="form-group">
                <label for="city">Cidade</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Digite a cidade...">
            </div>
            <div class="form-group">
                <label for="state">Estado</label>
                <select id="state" name="state" class="form-control">
                    <option selected>Choose...</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
}


